<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- Bootstrap CSS -->
  <link
          rel="stylesheet"
          href="/css/bootstrap.min.css"
  />

  <title>Log In</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light d-flex justify-content-around bg-light">
  <a class="navbar-brand" href="http://localhost:3333">Posty App</a>
  <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3333"
        >Home <span class="sr-only"></span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3333/login"
        >Login <span class="sr-only"></span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3333/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3333/users">Create post</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-md d-flex pb-4 mt-5 align-items-center justify-content-center h-100 flex-column">
  <h1 class="text-center mt-4">Log into Posty App</h1>
  <div class="container d-flex flex-column main mt-3">
    <form action="http://localhost:3333/login" method="POST">
      <div class="form-group">
        <label for="usernameInput">Username</label>
        <input
                type="text"
                class="form-control"
                id="usernameInput"
                name="username"
                placeholder="Write your username..."
        />
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input
                type="password"
                class="form-control"
                id="passwordInput"
                name="password"
                placeholder="Type your password"
        />
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary px-5">Submit</button>
      </div>
    </form>
  </div>
</div>
<script src="/jquery-3.5.1.slim.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/bootstrap.bundle.min.js"></script>
</body>
</html>

