<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="icon" href="/pen-icon.svg"/>

    <title>Log In</title>
</head>
<body>
{% include "navbar.twing.html" with {"createPostActive":"active"} %}
<div
        class="container-md d-flex pb-4 mt-5 align-items-center justify-content-center h-100 flex-column"
>
    <h1 class="text-center mt-4">Sign up to Posty App</h1>
    <div class="container d-flex flex-column main mt-3">
        <form action="/signup" method="POST">

            <div class="form-group">
                <label for="titleInput">Title</label>

                    <input
                            type="text"
                            class="form-control"
                            id="titleInput"
                            name="title"
                            placeholder="Write the title..."
                    />
            </div>
            <div class="form-group">
                <label for="contentInput">Content</label>

                <input
                        type="text"
                        class="form-control"
                        id="contentInput"
                        name="content"
                        placeholder="Write the content..."
                />
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input
                        type="password"
                        class="form-control"
                        id="passwordInput"
                        name="password"
                        placeholder="Type your password"
                />
            </div>


            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary px-5">Submit</button>
            </div>
        </form>
    </div>
</div>
{% include "css-and-js.twing.html" %}
</body>
</html>
