<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="icon" href="/pen-icon.svg" />

    <title>Log In</title>
  </head>
  <body>
    <!-- todo: add likes possibility for posts
todo: add link to single post -->
    {% include "navbar.twing.html" with {"user":user} %}
    <div
      class="container-md d-flex pb-4 mt-5 align-items-center justify-content-center h-100 flex-column"
    >
      <header
        class="d-flex flex-md-row flex-column flex-row align-items-md-end justify-content-md-between w-100 align-items-center mb-4"
      >
          <h1 class="text-center">{{requestedUser.username}}<span class="text-secondary">'s profile</span></h1>
        <h3><a href="/users/{{user.username}}">Your profile</a></h3>
      </header>
      <div
        class="card mb-3 w-100 border-success text-white bg-dark"
        style="width: 18rem"
      >
        <h6 class="card-header d-flex justify-content-between">
          <p class="text-danger m-0">@{{requestedUser.username}}</p>
        </h6>

        <div class="card-body">
          <p class="card-text">
            Created at: {{requestedUser.created_at|date("m/d/Y")}}
          </p>
          <p class="card-text">Total posts: {{requestedUser.total_posts}}</p>
        </div>
      </div>
      <div
        class="container-md d-flex flex-column align-items-center main-content mt-3"
      >
        <h2 class="mb-3">Posts</h2>
        {% for post in requestedUser.posts %} {% include "singlePost.twing.html"
        with {"post":post, "seeComments":true} %} {% endfor %}
      </div>
    </div>
    {% include "css-and-js.twing.html" %}
  </body>
</html>
